[user]
	name = Tobias Klauser
	email = tklauser@distanz.ch
	signingkey = B5510F47

[core]
	abbrev = 12
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /home/tobiask/.gitignore

[alias]
	amend = commit --amend
	co = checkout
	ca = commit --amend
	ci = commit
	br = branch
	d = diff
	dc = diff --cached
	dist = "!git archive --format=tar -v --prefix=$(git describe HEAD)/ $(git describe HEAD) | bzip2 -9v > ../$(git describe HEAD).tar.bz2"
	ds = diff --stat
	fixes = show --pretty=fixes -s
	ll = log --decorate --graph --pretty=oneline
	lp = log -p
	ls = ls-files
	s = status -s
	st = status
	up = pull --rebase --autostash origin master
	cr = codereview
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
	today = commit --amend --date=now --no-edit

[pretty]
	fixes = Fixes: %h (\"%s\")
	commit = %h (\"%s\")

[color]
	ui = true
	diff = auto
	branch = auto
	status = auto

[color "diff"]
	whitespace = red reverse

[push]
	default = matching

[merge]
	tool = vimdiff

[grep]
	lineNumber = true

[sendemail]
	smtpserver = mail.zhinst.com
	suppresscc = self
	bcc = Tobias Klauser <tklauser@distanz.ch>

[stash]
	showPatch = true

[tag]
	sort = version:refname

[versionsort]
	prereleaseSuffix = -rc
[http]
	cookiefile = /home/tklauser/.gitcookies
