[user]
	name = Tobias Klauser
	email = tklauser@distanz.ch
	signingkey = B5510F47

[core]
	abbrev = 12
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	d = diff
	ds = diff --stat
	lp = log -p
	dist = "!git archive --format=tar -v --prefix=$(git describe HEAD)/ $(git describe HEAD) | bzip2 -9v > ../$(git describe HEAD).tar.bz2"
	up = pull --rebase --autostash

[pretty]
	fixes = Fixes: %h (\"%s\")

[color]
	ui = true
	diff = auto
	branch = auto
	status = auto

[color "diff"]
	whitespace = red reverse

[push]
	default = matching

[merge]
	tool = vimdiff

[grep]
	lineNumber = true

[sendemail]
	smtpserver = mail.zhinst.com
	suppresscc = self
	bcc = Tobias Klauser <tklauser@distanz.ch>

[stash]
	showPatch = true

[tag]
	sort = version:refname

[versionsort]
	prereleaseSuffix = -rc
